<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953132250973-dbh40bucp5g9ildrbq6i7clsokfu6i0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953132250973-dbh40bucp5g9ildrbq6i7clsokfu6i0t</string>
	<key>API_KEY</key>
	<string>AIzaSyCaDGcB7oYDgDj3nEBZkatYDXtp3PCm838</string>
	<key>GCM_SENDER_ID</key>
	<string>953132250973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ultimateAlarmClock</string>
	<key>PROJECT_ID</key>
	<string>ultimate-alarm-clock-df2ad</string>
	<key>STORAGE_BUCKET</key>
	<string>ultimate-alarm-clock-df2ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953132250973:ios:79d3c2a978a9ca1a601ab4</string>
</dict>
</plist>